version: "3"

services:
  db:
    image: mongo
    volumes:
      - /var/lib/elan/mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
  api:
    build:
      context: ./
      args:
      - CONFIG_PATH=./configs/main.json
    ports:
      - "4242:4242"
    depends_on:
      - db

  db_test:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - "27017:27017"
  api_test:
    build:
      context: ./
      args:
      - CONFIG_PATH=./configs/test.json
    depends_on:
      - db_test
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://api_test:4242/api/service/ping || exit 1
      interval: 10s
      timeout: 10m
      retries: 3
  test:
    build:
      context: ./tests
    depends_on:
      api_test:
        condition: service_healthy
    tty: true
