services:
  db:
    image: mongo
    ports:
      - "27017:27017"
    env_file: "mongo_entrypoint/.env"
    volumes:
      - ./mongo_entrypoint:/docker-entrypoint-initdb.d
      - /var/lib/elan/mongodb_data:/data/db
  api:
    build:
      context: ./
      args:
      - CONFIG_PATH=./configs/main.json
    ports:
      - "4242:4242"
    depends_on:
      - db
    tty: true

  db_test:
    image: mongo
    environment:
      - MONGO_ELANDB_USERNAME=test
      - MONGO_ELANDB_PASSWORD=test
    ports:
      - "42042:42042"
    volumes:
      - ./mongo_entrypoint:/docker-entrypoint-initdb.d
  api_test:
    build:
      context: ./
      args:
      - CONFIG_PATH=./configs/test.json
    depends_on:
      - db_test
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://api_test:4242/api/service/ping || exit 1
      interval: 10s
      timeout: 10m
      retries: 3
    tty: true
  test:
    build:
      context: ./tests
    depends_on:
      api_test:
        condition: service_healthy
    tty: true
