[tool.poetry]
name = "elansbackend"
version = "0.1.0"
description = ""
authors = ["Spotika <andrey.a.cherkashin@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.104.1"
motor = "^3.3.2"
passlib = "^1.7.4"
python-dotenv = "^1.0.0"
uvicorn = "^0.24.0.post1"
python-jose = "^3.3.0"
pylint = "^3.0.2"
pytest = "^7.4.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
