name: Pyright python check

on:
  push:
    branches:
      - total-fix-authorization

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip3 install pyright

    - name: Run Pyright
      run: |
        pyright > pyright_output.txt
      continue-on-error: true

    - name: Check Pyright results
      run: |
        cat pyright_output.txt
        if ! grep -q "0 errors, 0 warnings" pyright_output.txt; then
          echo "Pyright issues found!"
          exit 1
        fi
