name: Test API

on:
  push:
    branches:
      - master  # Замените "main" на вашу основную ветку

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Compose
      run: sudo apt install docker-compose

    - name: Build and run Docker Compose
      run: |
        sudo docker-compose up --build -d test
        sudo docker-compose logs -f test > test_logs.txt
      continue-on-error: true

    - name: Check test results
      run: |
        if grep -q "Test Suites: .* failed" test_logs.txt; then
          echo "Tests failed"
          exit 1
        else
          echo "Tests passed"
        fi

    - name: Show test logs
      run: docker-compose logs --no-log-prefix test
